# Copy this file to .env and set local values. Do not commit .env.
DB_PASSWORD=

# Set the Airflow home and DAGs folder paths.
export AIRFLOW_HOME="$PWD/airflow"
export AIRFLOW__CORE__DAGS_FOLDER="$PWD/dags"